        .main {
            height: 455px;
            width: 980px;
            margin-left: 219px;
            margin-top: 10px;
        }
        
        .focus {
            overflow: hidden;
            position: relative;
            width: 721px;
            height: 455px;
            background-color: purple;
        }
        
        .focus ul {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 600%;
        }
        
        .focus ul li {
            float: left;
        }
        
        .newsflash {
            width: 250px;
            height: 455px;
        }
        
        .arrow-l,
        .arrow-r {
            display: none;
            position: absolute;
            top: 50%;
            margin-top: -20px;
            width: 24px;
            height: 40px;
            background: rgba(0, 0, 0, .2);
            text-align: center;
            line-height: 40px;
            color: #fff;
            font-family: 'icomoon';
            font-size: 18px;
            z-index: 2;
        }
        
        .arrow-r {
            right: 0px;
        }
        
        .circle {
            position: absolute;
            bottom: 10px;
            left: 50px;
        }
        
        .circle li {
            float: left;
            width: 8px;
            height: 8px;
            margin: 0px 3px;
            border: 2px solid rgba(255, 255, 255, .5);
            border-radius: 50%;
            cursor: pointer;
        }
        
        .current {
            background-color: #ffffff;
        }
        
        .news {
            height: 163px;
            border: 1px solid #cccccc;
        }
        
        .news-hd {
            height: 32px;
            border-bottom: 1px dotted #cccccc;
            padding-left: 15px;
            font-size: 14px;
            line-height: 32px;
        }
        
        .news-hd a {
            float: right;
            padding: 0px 15px;
            font-size: 12px;
            font-family: 'icomoon';
        }
        
        .news-bd {
            padding: 10px 0px 0px 15px;
        }
        
        .news-bd li {
            height: 25px;
        }
        
        .hot {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 12px;
            height: 15px;
            background: url(../img/jian.jpg) no-repeat;
        }
        
        .lifeservice {
            overflow: hidden;
            height: 208px;
            border: 1px solid #cccccc;
            border-top: none;
        }
        
        .lifeservice ul {
            width: 252px;
        }
        
        .lifeservice li {
            position: relative;
            float: left;
            width: 62px;
            height: 70px;
            border-right: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
        }
        
        .lifeservice li a {
            display: block;
            overflow: hidden;
            height: 100%;
        }
        
        .lifeservice li p {
            text-align: center;
        }
        
        .service_ico {
            display: block;
            width: 24px;
            height: 24px;
            background: url(../img/icons.png) no-repeat;
            margin: 10px auto;
        }
        
        .service_ico_huifei {
            background-position: -17px -16px;
        }
        
        .service_ico_feiji {
            width: 26px;
            background-position: -78px -16px;
        }
        
        .bargain {
            height: 75px;
            margin-top: 5px;
        }
        
        .recommend {
            height: 163px;
            margin-top: 10px;
        }
        
        .recom-hd {
            height: 163px;
            width: 200px;
            background-color: #5c5251;
            text-align: center;
        }
        
        .recom-hd img {
            margin: 30px 0px 10px 0px;
        }
        
        .recom-hd h3 {
            font-size: 18px;
            color: #fff;
            font-weight: normal;
        }
        
        .recom-bd {
            width: 1000px;
            height: 163px;
            background-color: #ebebeb;
        }
        
        .recom-bd li {
            float: left;
            width: 249px;
            height: 145px;
            border-right: 1px solid #cccccc;
            margin-top: 10px;
        }
        
        .recom-bd .last {
            border-right: 0;
        }
        
        .box-hd {
            height: 30px;
            border-bottom: 2px solid #c81623;
            margin-top: 25px;
        }
        
        .box-hd h3 {
            float: left;
            font-size: 18px;
            color: #c81623;
        }
        
        .tab-list {
            line-height: 30px;
            float: right;
        }
        
        .tab-list li {
            float: left;
        }
        
        .tab-list li a {
            margin: 0px 15px;
        }
        
        .w209 {
            width: 209px;
            background-color: #f9f9f9;
        }
        
        .w329 {
            width: 329px;
        }
        
        .w219 {
            width: 219px;
            border-right: 1px solid #cccccc;
        }
        
        .w220 {
            width: 220px;
            border-right: 1px solid #cccccc;
        }
        
        .tab-con li {
            float: left;
            height: 360px;
        }
        
        .tab-con-item {
            border-bottom: 1px solid #cccccc;
        }
        
        .box-bd {
            height: 360px;
        }
        
        .tab-con-list {
            margin-bottom: 15px;
            overflow: hidden;
        }
        
        .tab-con-list li {
            width: 85px;
            height: 32px;
            line-height: 32px;
            border-bottom: 1px solid #cccccc;
            margin-left: 10px;
            text-align: center;
        }
        
        .box-bd li {
            overflow: hidden;
        }
        
        .box-bd img {
            transition: all .2s;
        }
        
        .box-bd img:hover {
            margin-left: 8px;
        }
        
        .fixedtool {
            position: fixed;
            top: 100px;
            left: 50%;
            margin-left: -676px;
            width: 66px;
            background-color: #fff;
        }
        
        .fixedtool li {
            height: 32px;
            line-height: 32px;
            text-align: center;
            font-size: 12px;
            border-bottom: 1px solid #cccccc;
            cursor: pointer;
        }
        
        .fixedtool .current {
            background-color: #c81623;
            color: #fff;
        }